<!DOCTYPE html>
<html>
<head>
    <title>Meteo Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header class="header">
        <h1>Meteo Dashboard</h1>
        <button onclick="logout()" class="logout-btn">Logout</button>
    </header>
    <h3>Create Alert</h3>
    <input id="maxValue" placeholder="Max value">
    <button onclick="createAlert()">Save</button>
    <canvas id="chart" width="800" height="400"></canvas>
    <script src="/static/js/main.js"></script>
    <link rel="stylesheet" href="/static/css/styles.css">
</body>
</html>